html {
  background-color: rgb(127, 207, 127);
}

header {
  background-image: url('saladaphoto.png');
  background-repeat: no-repeat;
  background-position: top;
}

.content {
  position: relative;
}

table {
  font-style: georgia;
  font-size: small;
  font-weight: 100;
  border: 1px solid black; 
  border-style: inset;
  border-collapse: collapse;
  background-color: transparent; 
}

tr {
  border-bottom: 2px solid black; 
}

thead {
  font-style: italic;
  font-size: larger;
  font-weight: 300;
}

.right-aside {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #44e2e2;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #44e2e2;
}